/* .complete {
    text-decoration:line-through;
    display:flex;
    flex-direction: row;
} */

label{
    color:#525252;
}
.cardHead{
    display:flex;
    flex-direction: row;
    margin:0px;
    justify-content: space-between;
}
.listStyle{
    list-style-type: none;
    background-color:#8abfc2;
    padding:10px;
    margin-bottom:10px;
    border-radius: 5px;
}

.smallListStyle{
    padding:5px;
    background-color: cornsilk;
    border-radius: 5px;
    border-top-left-radius : 0px;
}

.smallTask{
    display:flex;
    margin-bottom:5px;
    justify-content:space-between;
    border-bottom:1px solid black;
}